body {
    background-color: rgb(17, 151, 46) ; 
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  /* Change the link color on hover */
  li a:hover {
    background-color: #555;
    color: white;
  }
  .c2 
{ 
  background-color: whitesmoke; 
  color: rgb(3, 5, 8);
}
li1 a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
/* Change the link color on hover */
li1 a:hover {
  background-color: rgb(85, 85, 85);
  color: rgb(21, 198, 204);
}
h2
{ 
    color: rgb(4, 12, 17);
    background-color:rgb(218, 218, 218); 
}