.c1 
{ 
    color: rgb(3, 5, 8);
    background-color:rgb(17, 151, 46);
}
.c2 
{ 
    color: rgb(2, 8, 20);
    background-color:rgb(248, 251, 252);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  /* Change the link color on hover */
  li a:hover {
    background-color: #555;
    color: white;
  }

  h1
  {
      text-align: center;
      background-color: whitesmoke;
  }
  body {
      background-color: rgb(17, 151, 46) ; 
  }
  #borderimg1{
    border: 30px solid transparent;
    padding: 10px;
    border-image: url(../images/bordure.jpg) 50 round;
  }